@model MoldeMVC_Core.Models.Recetas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recetas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.consultaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.consultaId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.medicamentoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.medicamentoId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?._id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
